
.contact-form-section{
     display: grid;
  grid-template-columns: repeat(2,1fr);
     margin: auto;
     padding-bottom: 40px;
     border: 1px solid red;
     max-width: 1200px;
}
.contact-form{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}
.contact-form input ,textarea{
    width: 100%;
   background: #faf5ee;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s;
    cursor: pointer;
}
.contact-form input:hover ,textarea:hover{
    transform: scale(0.9);
}

.contact-img{
    margin: auto;
}

.contact-form button{
width: 275px;
outline: none;
border: none;
color: white;
background-color: #e8604c;
}
.contact-form button:hover{
background-color: rgb(62, 62, 65);
}


.banner-img{
filter: grayscale(90%);
}